*{
    font-family: 'Asap', sans-serif;
    margin: 0;
    padding: 0;

}
#banner{
    background: url(/Acmeevents/bilder/pexels-josh-sorenson-976866.jpg) fixed;
    background-size: cover;
    height: 70vh;
    background-position-y: -300px ;
    background-repeat: no-repeat;
}

#main-header{
    display: flex;
    justify-content: center ;
    align-items: center;
    height: 97px;
}
#logo{
    position: relative;    
    width: 70px;
}
.main-header-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1800px;
}
.main-header-navbar button{
    color: white;
    margin-left: 60px;
    font-size: 20px;
}

.main-header-navbar-left-buttons{
    display: flex; 
    position: relative;
}
.main-header-navbar-left-buttons button:hover{
    background-color: #7681B3;
    transition: 0.3s;

    
}
.main-header-navbar-left-buttons button{
    background-color: transparent;
    border-style: none;
    border-radius: 50px;
    width: 115.07px;
    height: 47px;
    transition: 0.3s;

}
.main-header-navbar-right-buttons button{
    background-color: #7681B3;
    border-style: none;
    border-radius: 50px;
    width: 115.07px;
    height: 47px;
}
.main-header-navbar-left-buttons-nav{
    display: flex; 
    align-items: center;
}
#banner-body{
    color: white;
    display: flex;
    justify-content: center;
    height: 515px;
}
#banner-body-content{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 433px;
}

#banner-body-content h1{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 55px;
    margin-bottom: 26px;
}
#banner-body-content p{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin-bottom: 50px;
}

#banner-body-content button{
    color: white;
    width: 249.85px;
    height: 58px;
    background: #7681B3;
    border-style: none;
    border-radius: 309px;
    font-size: 20px;
    line-height: 23px;
    
}
.card-container div{
    width: 700px;
    height: 335px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 100px;
    margin: 20px 0;
    justify-content: center;
}
/*
.card-container div{
    height: 100vh;    
    top: 0; 
    position: sticky; 
}
*/
#card0{
    background-size: cover;
    background-image: url("/Acmeevents/bilder/pexels-andrea-piacquadio-3760089.jpg");
}

#card1{
    background-size: cover;
    background-image: url("/Acmeevents/bilder/pexels-andrea-piacquadio-3862089.jpg");
}

#card2{
    background-size: cover;
    background-image: url("/Acmeevents/bilder/pexels-fauxels-3183150.jpg");
}

#card3{
    background-size: cover;
    background-image: url("/Acmeevents/bilder/pexels-fauxels-3184180.jpg");
}

#card4{
    background-size: cover;
    background-image: url("/Acmeevents/bilder/pexels-josh-sorenson-976866.jpg");
}

#card5{
    background-size: cover;
    background-image: url("/Acmeevents/bilder/pexels-lucas-allmann-442540.jpg");
}