* {
  font-family: "Asap", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#banner {
  background: url(bilder/New/Hero.jpg) fixed;
  background-size: cover;
  height: 70vh;
  background-position-y: -300px;
  background-repeat: no-repeat;
}

#main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 97px;
}
#logo {
  position: relative;
  width: 70px;
}
.main-header-navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1700px;
}
.main-header-navbar a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  margin-left: 60px;
  font-size: 20px;
}

.main-header-navbar-left-buttons {
  display: flex;
  position: relative;
}
.main-header-navbar-left-buttons a:hover {
  background-color: #7681b3;
  transition: 0.3s;
}
.main-header-navbar-left-buttons a {
  background-color: transparent;
  border-style: none;
  border-radius: 50px;
  width: 115.07px;
  height: 47px;
  transition: 0.3s;
}
.main-header-navbar-right-buttons a {
  background-color: #7681b3;
  border-style: none;
  border-radius: 50px;
  width: 115.07px;
  height: 47px;
}
.main-header-navbar-left-buttons-nav {
  display: flex;
  align-items: center;
}
#banner-body {
  color: white;
  display: flex;
  justify-content: center;
  height: 515px;
}
#banner-body-content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 433px;
}

#banner-body-content h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 55px;
  margin-bottom: 26px;
}
#banner-body-content p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin-bottom: 50px;
}

#banner-body-content a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 249.85px;
  height: 58px;
  background: #7681b3;
  border-style: none;
  border-radius: 309px;
  font-size: 20px;
  line-height: 23px;
}
.card-container div {
  width: 700px;
  height: 335px;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 100px;
  margin: 20px 0;
  justify-content: center;
}
/*
.card-container div{
    height: 100vh;    
    top: 0; 
    position: sticky; 
}*/

#card0-picture {
  background-image: url("/bilder/New/Card1.jpg");
}

#card1 {
  background-image: url("bilder/New/Card2.jpg");
}

#card2 {
  background-image: url("bilder/New/Card3.jpg");
}

#card3 {
  background-image: url("bilder/New/Card4.jpg");
}

#card4 {
  background-image: url("bilder/New/Card5.jpg");
}

#card5 {
  background-image: url("bilder/New/Card6.jpg");
}

.card-picture {
  background-position: center;
  background-size: 100%;
  transition: 0.5s;
}
.card-picture:hover {
  background-image: url("/bilder/New/Card1.jpg");
  background-size: 140%;
  background-position: center;
  transition: 0.5s;
}

.card {
  background-size: cover;
  flex-flow: column;
  color: white;
  font-weight: 900;
  transition: 0.5s;
  overflow: hidden;
}

.card:hover {
  background-size: 150%;
  background-size: cover;
  display: flex;
  flex-flow: column;
  color: white;
  font-size: 50px;
  font-weight: 900;
  background-image: -webkit-linear-gradient(115deg, #6f73d2 50%, #6f72d262 50%);
  background-color: #6f72d291;
  transition: 0.7s;
}

#card-mid p {
  font-size: 50px;
  font-weight: 900;
}
#card-mid {
  position: relative;
  text-align: center;
  height: 50px;
  top: 50%;
  transform: translate(0, -50%);
}

#card-bottom {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0px 0px 20px -35px;
}

.contact-section {
  margin: 200px auto;
  width: 80%;
  color: rgb(70, 70, 70);
  display: flex;
  background-color: #d9f0ff;
  height: 40vh;
}
.contact-section-container {
  width: 80%;
  color: rgb(70, 70, 70);
  display: flex;
  background-color: #d9f0ff;
  height: 40vh;
}

.contact-section div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
}

.contact-section-right-input {
  width: 260px;
}
.contact-section-right-input2 {
  width: 530px;
}
#contact-section-right-inputemail {
  float: right;
}

.contact-section-left {
  flex-flow: column;
}

.contact-section-left h1 {
  font-size: 3em;
}
.contact-section-right td input {
  border-radius: 5px;
  font-size: 1.4em;
  height: 40px;
  border: none;
  margin-bottom: 10px;
  padding: 10px;
}
.contact-section-right td textarea {
  border-radius: 5px;
  font-size: 1.4em;
  resize: none;
  border: none;
  height: 84px;
  padding: 10px;
}

.contact-section-button {
  border-radius: 20px;
  color: white;
  margin-top: 10px;
  height: 44px;
  width: 122px;
  background-color: #7681b3;
  border-style: none;
  float: right;
}

footer {
  display: flex;
  flex-flow: column;
  height: 60vh;
  background-color: #d9f0ff;
}
.main-footer {
  width: 100%;
  height: 80%;
  color: rgb(70, 70, 70);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-footer div {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 33%;
}

.main-footer h2 {
  font-weight: 900;
  margin-bottom: 20px;
  text-align: center;
}

.main-footer p {
  margin-bottom: 20px;
  text-align: center;
}

.main-footer input {
  margin-bottom: 20px;
  width: 420px;
  height: 40px;
  padding: 10px;
  font-size: 1.4em;
}

#main-footer-2 button {
  font-size: 1.4em;
  border-radius: 20px;
  color: white;
  height: 44px;
  width: 122px;
  background-color: #7681b3;
  border-style: none;
}

.icons {
  display: flex;
  justify-content: center;
  font-size: 60px;
}
.icons i {
  margin: 10px 90px;
}
footer i:nth-child(1) {
  color: #4267b2;
}
footer i:nth-child(2) {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  color: white;
  border-radius: 5px;
}
footer i:nth-child(3) {
  color: #1da1f2;
}
